body {
    font-family: Inter, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #F8FAFC;
}

p, a, h1 {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 5vh;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #e5ebf4;
    min-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo p {
    font-size: 1.4rem;
}

.links {
    display: flex;
    gap: 20px;
}

.links a, .logo a{
    text-decoration: none;
    color: #1E293B;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    border-radius: 10px;
    transition: 0.15s;

}

.links a.selected {
    background-color: #eff2f8;
    
}

#app {
    color: #1E293B;
    padding: 15px;
}

/*New*/
.new {
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 55vw, 1000px);
    justify-self: center;
}

#new-experiment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type = "text"] {
    background-color: #cfd5df;
    border: 1px solid rgb(193, 203, 215);
    padding: 8px;
    border-radius: 5px;
}

*:focus {
    outline: none;
}

*:focus-visible {
    outline: 2px solid #2a4672;
    border-radius: 5px;
}

textarea {
    width: 100%
}


.new-contributor-delete, .new-material-delete {
    background-color: red;
    color: #FFFFFF;
    border: 1px solid #ab0000;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    align-self: center;
    display: flex;
    align-items: center;
    line-height: 1;
    border-radius: 3px;
    
}

.hidden {
    visibility: hidden;
}

#add-contributor, #add-material {
    background-color: #8c9bb3;
    border: 1px solid #8397b5;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.experiment-part {
    background-color: #f2f5fa;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

textarea {
    overflow: hidden;
    resize: none;
    width: 100px;
}

#contributor-list, #material-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 15px;
}

.contributor, .material {
    display: flex;
    gap: 5px;
}